#sendmsgwrapper{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    /*border: 2px solid #525252;*/
    background: #FFFFFF;
    color:#000;
    width:500px;
    border-radius: 0px;

}

#dialog-overlay {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background:#000
}

#closefrm{
    float: right;
    border: 1px solid #450000;
    background-image: url('images/closebox.png');
    width: 30px;
    height: 30px;
    text-indent: -999;
    border: none;
}

.btnwrapper{
    height: 32px;
    background-color: #CFCFCF; /*rgba(3, 0, 1, 0.7);*/
    margin-bottom: 2px;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
}
.msgtablewrapper{
    padding: 2px;
    margin-bottom: 2px;
    border-radius: 0px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    color: °ffffff;
}
.msgtablewrapper textarea {
    background: none repeat scroll 0 0 #FAFAFA;
    /*border: 1px solid #DDDDDD;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #888888;
    border-radius: 0px;
}




/*#dex_printable_contents table a:link {color: #666; font-weight: bold; text-decoration:none;}
#dex_printable_contents table a:visited { color: #999999; font-weight:bold; text-decoration:none;}
#dex_printable_contents table a:active, #fpmanagetable table a:hover {color: #bd5a35; text-decoration:underline;}*/
#dex_printable_contents table {
    font-family:Open Sans;
    font-size:12px;
    /*text-shadow: 1px 1px 0px #fff;*/
    background:#eaebec;
    border:1px solid #74cbc6;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    /*-moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;*/
}
#dex_printable_contents table th {
    padding:5px;
    border-top:1px solid #74cbc6;
    border-bottom:1px solid #74cbc6;
    background: #FCFCFC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#FCFCFC));
    background: -moz-linear-gradient(top,  #FCFCFC,  #FCFCFC);
    text-align: center !important;
}
#dex_printable_contents table tr:first-child th:first-child {-moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-left-radius:5px;}
#dex_printable_contents table tr:first-child th:last-child { -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px;}
#dex_printable_contents table tr { text-align: center; padding-left:20px;}
#dex_printable_contents table td {
    padding:5px;
    border-top: 0px solid #ffffff;
    border-bottom:1px solid #ffffff;
    border-left: 0px solid #e0e0e0;
    background: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top,  #ffffff,  #fffff);
    text-align: center;
}
#dex_printable_contents table tr.even td {background: #f6f6f6;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6)); background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
#dex_printable_contents table tr:last-child td {border-bottom:0;}
#dex_printable_contents table tr:last-child td:first-child {-moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px;}
#dex_printable_contents table tr:last-child td:last-child {-moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px;}
#dex_printable_contents table tr:hover td {background: transparent;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)); background: -moz-linear-gradient(top,  #ffffff,  #ffffff);}
#dex_printable_contents input[type="submit"] {
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #F4F4F4, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7C7C7C;
    font-size: 0.785714rem;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
    cursor: pointer;
}

#dex_printable_contents input[type="text"] {border: 1px solid #CCCCCC !important; border-radius: 3px 3px 3px 3px; font-family: inherit; padding: 0.428571rem !important; width: 300px;}
#dex_printable_contents input[type="button"] {cursor: pointer;}
.divload{height: 16px;background: url('images/loading.gif') no-repeat;position: relative;top: -22px; left: 66px;}
.load_button{opacity: 0.5}