/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.css-fbl{
    background: url("../img/fb-icon.png") no-repeat 10px center;
    background-color: #2b4170;
    background: url("../img/fb-icon.png") no-repeat 10px center, -moz-linear-gradient(top, #3b5998, #2b4170);
    background: url("../img/fb-icon.png") no-repeat 10px center, -ms-linear-gradient(top, #3b5998, #2b4170);
    background: url("../img/fb-icon.png") no-repeat 10px center, -webkit-linear-gradient(top, #3b5998, #2b4170);
    background-size: 25px 25px, cover;
    line-height: 1;
    display: block;
    padding-left: 50px;
    color: #fff !important;
    text-decoration: none !important;
    transition: opacity .3s ease-in;
    text-shadow: 1px 1px 0px #000;
    opacity: .90;
    position: relative;
    max-width: 300px;
    margin: 0 auto 16px;
}
a.css-fbl:hover{
    background-color: #062c70;
    background: url("../img/fb-icon.png") no-repeat 10px center, -moz-linear-gradient(top, #3b5998, #062C70);
    background: url("../img/fb-icon.png") no-repeat 10px center, -ms-linear-gradient(top, #3b5998, #062C70);
    background: url("../img/fb-icon.png") no-repeat 10px center, -webkit-linear-gradient(top, #3b5998, #062C70);
    background-size: 25px 25px, cover;
    color: #FDFDFD;
    opacity: 1;
}
a.css-fbl div {
    height: 45px;
    display: table-cell;
    vertical-align: middle;
}
.css-fbl img{
    display: none;
    width: 20px;
    right: 6px;
    top: 31%;
    position: absolute;
    height: auto;
}
.css-fbl.fbl-loading img{
    display: block !important;
}
.fbl_error {
    float: left;
    color: red;
    width: 100%;
}
.fbl-button{
    text-align: center;
    margin: 0 0 20px 0;
}