/*
CSS3 Responsive Web Pricing Tables Grids
Updated 05.2015 – v7.0
Copyright QuanticaLabs
www.quanticalabs.com
*/

/* ==================== STYLE 4 - PURPLE ==================== */
/* ==================== HEADINGS ==================== */
div.p_table h2.caption
	{
	color: #39965e;
	}
	
div.p_table h2.caption span
	{
	color: #aec357;
	}

/* ==================== COLUMN STYLE 1 ==================== */
/* --- header row 1 ---  */
div.p_table div.column_1 li.header_row_1
	{
	border-bottom: 1px solid #749934;
	background-color: #90ad42; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #b2c659, #8cab42); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2c659', endColorstr='#8cab42'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2c659', endColorstr='#8cab42'); /* IE8 */
	background: -ms-linear-gradient(top, #b2c659, #8cab42); /* IE9 */
	background: -moz-linear-gradient(top, #b2c659, #8cab42); /* Firefox */ 
	background: -o-linear-gradient(top, #b2c659, #8cab42); /* Opera 11  */
	background: -webkit-linear-gradient(top, #b2c659, #8cab42); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2c659), color-stop(1, #8cab42)); /* Chrome 10, Safari */	
	}
	
/* --- decor light  line ---  */	
div.p_table div.column_1 li.decor_line
	{
	background-color: #cbd877; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(left, #cbd877, #e3eaac 50%, #cbd877); /* W3C */
	background: -ms-linear-gradient(left, #cbd877, #e3eaac 50%, #cbd877); /* IE9 */
	background: -moz-linear-gradient(left, #cbd877, #e3eaac 50%, #cbd877); /* Firefox */ 
	background: -o-linear-gradient(left, #cbd877, #e3eaac 50%, #cbd877); /* Opera 11  */
	background: -webkit-linear-gradient(left, #cbd877, #e3eaac 50%, #cbd877); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #cbd877), color-stop(0.5, #e3eaac), color-stop(1, #cbd877)); /* Chrome 10, Safari */
	}
	
/* --- header row 2 ---  */
div.p_table div.column_1 li.header_row_2
	{
	background-color: #90ad42; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #afc457, #90ad42); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afc457', endColorstr='#90ad42'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afc457', endColorstr='#90ad42'); /* IE8 */
	background: -ms-linear-gradient(top, #afc457, #90ad42); /* IE9 */
	background: -moz-linear-gradient(top, #afc457, #90ad42); /* Firefox */ 
	background: -o-linear-gradient(top, #afc457, #90ad42); /* Opera 11  */
	background: -webkit-linear-gradient(top, #afc457, #90ad42); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #afc457), color-stop(1, #90ad42)); /* Chrome 10, Safari */	
	}
	
/* ==================== COLUMN STYLE 2 ==================== */
/* --- header row 1 ---  */
div.p_table div.column_2 li.header_row_1
	{
	border-bottom: 1px solid #4c7532;
	background-color: #5f8d3d; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #82b355, #608d3e); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82b355', endColorstr='#608d3e'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82b355', endColorstr='#608d3e'); /* IE8 */
	background: -ms-linear-gradient(top, #82b355, #608d3e); /* IE9 */
	background: -moz-linear-gradient(top, #82b355, #608d3e); /* Firefox */ 
	background: -o-linear-gradient(top, #82b355, #608d3e); /* Opera 11  */
	background: -webkit-linear-gradient(top, #82b355, #608d3e); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #82b355), color-stop(1, #608d3e)); /* Chrome 10, Safari */	
	}
	
/* --- decor light  line ---  */	
div.p_table div.column_2 li.decor_line
	{
	background-color: #a5ca6d; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(left, #a5ca6d, #cee29e 50%, #a5ca6d); /* W3C */
	background: -ms-linear-gradient(left, #a5ca6d, #cee29e 50%, #a5ca6d); /* IE9 */
	background: -moz-linear-gradient(left, #a5ca6d, #cee29e 50%, #a5ca6d); /* Firefox */ 
	background: -o-linear-gradient(left, #a5ca6d, #cee29e 50%, #a5ca6d); /* Opera 11  */
	background: -webkit-linear-gradient(left, #a5ca6d, #cee29e 50%, #a5ca6d); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #a5ca6d), color-stop(0.5, #cee29e), color-stop(1, #a5ca6d)); /* Chrome 10, Safari */
	}
	
/* --- header row 2 ---  */
div.p_table div.column_2 li.header_row_2
	{
	background-color: #5f8d3d; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #7ead50, #5f8d3d); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ead50', endColorstr='#5f8d3d'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ead50', endColorstr='#5f8d3d'); /* IE8 */
	background: -ms-linear-gradient(top, #7ead50, #5f8d3d); /* IE9 */
	background: -moz-linear-gradient(top, #7ead50, #5f8d3d); /* Firefox */ 
	background: -o-linear-gradient(top, #7ead50, #5f8d3d); /* Opera 11  */
	background: -webkit-linear-gradient(top, #7ead50, #5f8d3d); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ead50), color-stop(1, #5f8d3d)); /* Chrome 10, Safari */
	}
	
/* ==================== COLUMN STYLE 3 ==================== */
/* --- header row 1 ---  */
div.p_table div.column_3 li.header_row_1
	{
	border-bottom: 1px solid #235d39;
	background-color: #2c7548; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #3c9f62, #2c7548); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9f62', endColorstr='#2c7548'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9f62', endColorstr='#2c7548'); /* IE8 */
	background: -ms-linear-gradient(top, #3c9f62, #2c7548); /* IE9 */
	background: -moz-linear-gradient(top, #3c9f62, #2c7548); /* Firefox */ 
	background: -o-linear-gradient(top, #3c9f62, #2c7548); /* Opera 11  */
	background: -webkit-linear-gradient(top, #3c9f62, #2c7548); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c9f62), color-stop(1, #2c7548)); /* Chrome 10, Safari */	
	}
	
/* --- decor light  line ---  */	
div.p_table div.column_3 li.decor_line
	{
	background-color: #4fbd81; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(left, #4fbd81, #72dbba 50%, #4fbd81); /* W3C */
	background: -ms-linear-gradient(left, #4fbd81, #72dbba 50%, #4fbd81); /* IE9 */
	background: -moz-linear-gradient(left, #4fbd81, #72dbba 50%, #4fbd81); /* Firefox */ 
	background: -o-linear-gradient(left, #4fbd81, #72dbba 50%, #4fbd81); /* Opera 11  */
	background: -webkit-linear-gradient(left, #4fbd81, #72dbba 50%, #4fbd81); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #4fbd81), color-stop(0.5, #72dbba), color-stop(1, #4fbd81)); /* Chrome 10, Safari */
	}
	
/* --- header row 2 ---  */
div.p_table div.column_3 li.header_row_2
	{
	background-color: #2c7548; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #3a985f, #2c7548); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a985f', endColorstr='#2c7548'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a985f', endColorstr='#2c7548'); /* IE8 */
	background: -ms-linear-gradient(top, #3a985f, #2c7548); /* IE9 */
	background: -moz-linear-gradient(top, #3a985f, #2c7548); /* Firefox */ 
	background: -o-linear-gradient(top, #3a985f, #2c7548); /* Opera 11  */
	background: -webkit-linear-gradient(top, #3a985f, #2c7548); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3a985f), color-stop(1, #2c7548)); /* Chrome 10, Safari */	
	}
	
/* ==================== COLUMN STYLE 4 ==================== */
/* --- header row 1 ---  */
div.p_table div.column_4 li.header_row_1
	{
	border-bottom: 1px solid #0b4a46;
	background-color: #0e5b56; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #147e78, #0e5d58); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147e78', endColorstr='#0e5d58'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147e78', endColorstr='#0e5d58'); /* IE8 */
	background: -ms-linear-gradient(top, #147e78, #0e5d58); /* IE9 */
	background: -moz-linear-gradient(top, #147e78, #0e5d58); /* Firefox */ 
	background: -o-linear-gradient(top, #147e78, #0e5d58); /* Opera 11  */
	background: -webkit-linear-gradient(top, #147e78, #0e5d58); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #147e78), color-stop(1, #0e5d58)); /* Chrome 10, Safari */	
	}
	
/* --- decor light  line ---  */	
div.p_table div.column_4 li.decor_line
	{
	background-color: #199f98; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(left, #199f98, #24cbc7 50%, #199f98); /* W3C */
	background: -ms-linear-gradient(left, #199f98, #24cbc7 50%, #199f98); /* IE9 */
	background: -moz-linear-gradient(left, #199f98, #24cbc7 50%, #199f98); /* Firefox */ 
	background: -o-linear-gradient(left, #199f98, #24cbc7 50%, #199f98); /* Opera 11  */
	background: -webkit-linear-gradient(left, #199f98, #24cbc7 50%, #199f98); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #199f98), color-stop(0.5, #24cbc7), color-stop(1, #199f98)); /* Chrome 10, Safari */
	}
	
/* --- header row 2 ---  */
div.p_table div.column_4 li.header_row_2
	{
	background-color: #0e5b56; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #137872, #0e5b56); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#137872', endColorstr='#0e5b56'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#137872', endColorstr='#0e5b56'); /* IE8 */
	background: -ms-linear-gradient(top, #137872, #0e5b56); /* IE9 */
	background: -moz-linear-gradient(top, #137872, #0e5b56); /* Firefox */ 
	background: -o-linear-gradient(top, #137872, #0e5b56); /* Opera 11  */
	background: -webkit-linear-gradient(top, #137872, #0e5b56); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #137872), color-stop(1, #0e5b56)); /* Chrome 10, Safari */	
	}
	
/* ==================== COLUMN HOVERS ==================== */
/* --- column 1 ---  */
div.p_table div.column_1:hover li.row_style_1,
div.p_table div.column_1.active_column li.row_style_1
	{
	background: #a3ba4e !important;
	}
	
div.p_table div.column_1:hover li.row_style_2,
div.p_table div.column_1.active_column li.row_style_2
	{
	background: #90ad42 !important;
	}
	
div.p_table div.column_1:hover li.footer_row,
div.p_table div.column_1.active_column li.footer_row
	{
	background: #a3ba4e !important;
	}
	
/* --- column 2 ---  */	
div.p_table div.column_2:hover li.row_style_1,
div.p_table div.column_2.active_column li.row_style_1
	{
	background: #70a048 !important;
	}
	
div.p_table div.column_2:hover li.row_style_3,
div.p_table div.column_2.active_column li.row_style_3
	{
	background: #5f8d3d !important;
	}
	
div.p_table div.column_2:hover li.footer_row,
div.p_table div.column_2.active_column li.footer_row
	{
	background: #70a048 !important;
	}
	
/* --- column 3 ---  */	
div.p_table div.column_3:hover li.row_style_1,
div.p_table div.column_3.active_column li.row_style_1
	{
	background: #348955 !important;
	}
	
div.p_table div.column_3:hover li.row_style_2,
div.p_table div.column_3.active_column li.row_style_2
	{
	background: #2c7548 !important;
	}
	
div.p_table div.column_3:hover li.footer_row,
div.p_table div.column_3.active_column li.footer_row
	{
	background: #348955 !important;
	}

/* --- column 4 ---  */	
div.p_table div.column_4:hover li.row_style_1,
div.p_table div.column_4.active_column li.row_style_1
	{
	background: #116c66 !important;
	}
	
div.p_table div.column_4:hover li.row_style_3,
div.p_table div.column_4.active_column li.row_style_3
	{
	background: #0e5b56 !important;
	}
	
div.p_table div.column_4:hover li.footer_row,
div.p_table div.column_4.active_column li.footer_row
	{
	background: #116c66 !important;
	}
	
/* ==================== BUTTONS ==================== */
div.p_table a.button_1
	{
	border-bottom: 1px solid #77972e;
	background-color: #a6bd4f; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #bcce5c, #91ae43); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcce5c', endColorstr='#91ae43'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcce5c', endColorstr='#91ae43'); /* IE8 */
	background: -ms-linear-gradient(top, #bcce5c, #91ae43); /* IE9 */
	background: -moz-linear-gradient(top, #bcce5c, #91ae43); /* Firefox */ 
	background: -o-linear-gradient(top, #bcce5c, #91ae43); /* Opera 11  */
	background: -webkit-linear-gradient(top, #bcce5c, #91ae43); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bcce5c), color-stop(1, #91ae43)); /* Chrome 10, Safari */
	}
	
div.p_table a.button_2
	{
	border-bottom: 1px solid #47742b;
	background-color: #71a248; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #85bb55, #608e3e); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85bb55', endColorstr='#608e3e'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85bb55', endColorstr='#608e3e'); /* IE8 */
	background: -ms-linear-gradient(top, #85bb55, #608e3e); /* IE9 */
	background: -moz-linear-gradient(top, #85bb55, #608e3e); /* Firefox */ 
	background: -o-linear-gradient(top, #85bb55, #608e3e); /* Opera 11  */
	background: -webkit-linear-gradient(top, #85bb55, #608e3e); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #85bb55), color-stop(1, #608e3e)); /* Chrome 10, Safari */
	}	
	
div.p_table a.button_3
	{
	border-bottom: 1px solid #1e5c33;
	background-color: #358c56; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #3ea465, #2d7649); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ea465', endColorstr='#2d7649'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ea465', endColorstr='#2d7649'); /* IE8 */
	background: -ms-linear-gradient(top, #3ea465, #2d7649); /* IE9 */
	background: -moz-linear-gradient(top, #3ea465, #2d7649); /* Firefox */ 
	background: -o-linear-gradient(top, #3ea465, #2d7649); /* Opera 11  */
	background: -webkit-linear-gradient(top, #3ea465, #2d7649); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3ea465), color-stop(1, #2d7649)); /* Chrome 10, Safari */
	}
	
div.p_table a.button_4
	{
	border-bottom: 1px solid #09433f;
	background-color: #116c66; /* background color for non-css3 browsers */
	/* gradient */
	background-image: linear-gradient(top, #147f78, #0e5c57); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147f78', endColorstr='#0e5c57'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147f78', endColorstr='#0e5c57'); /* IE8 */
	background: -ms-linear-gradient(top, #147f78, #0e5c57); /* IE9 */
	background: -moz-linear-gradient(top, #147f78, #0e5c57); /* Firefox */ 
	background: -o-linear-gradient(top, #147f78, #0e5c57); /* Opera 11  */
	background: -webkit-linear-gradient(top, #147f78, #0e5c57); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #147f78), color-stop(1, #0e5c57)); /* Chrome 10, Safari */
	}
	
/* ========== RIBBONS  ========== */
/* --- base --- */
div.column_ribbon
	{
	background: #ffd200; /* ribbon background color */
	color: #8c4500; /* ribbon text color */
	}

/* --- bottom triangle --- */	
div.column_ribbon::before
	{
	border-right-color: #b69600; /* ribbon bottom triangle color */
	}

/* --- right triangles --- */		
div.column_ribbon::after
	{
	border-color: #ffd200 transparent #ffd200 #ffd200; /* ribbon background color */
	}
	
/*
CSS3 Responsive Web Pricing Tables Grids
Updated 05.2015 – v7.0
Copyright QuanticaLabs
www.quanticalabs.com
*/

/* ==================== ACTIVE COLUMN  ==================== */
div.p_table div.active_column li.header_row_2
	{
	/* removed border radiuses */
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	}
	
div.p_table div.active_column li.footer_row
	{
	/* added border radiuses */
	border-radius: 0px 0px 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	}

div.p_table div.active_column li.row_style_1,
div.p_table div.active_column li.row_style_2,
div.p_table div.active_column li.row_style_3
	{
	color: #ffffff;
	}

div.p_table div.active_column a.button_1,
div.p_table div.active_column a.button_2,
div.p_table div.active_column a.button_3,
div.p_table div.active_column a.button_4
	{
	background: 0;
	filter: 0; /* IE5.5 - 7 */
	-ms-filter: 0; /* IE8 */
	border: 0;
	color: #ffffff;
	position: relative;
	top: -5px;
	/* shadow */
	box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	}

div.p_table div.active_column li.header_row_2
	{
	/* removed border radiuses */
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	}

div.p_table div.active_column li.footer_row
	{
	/* added border radiuses */
	border-radius: 0px 0px 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	}

div.p_table div.active_column li.row_style_1,
div.p_table div.active_column li.row_style_2,
div.p_table div.active_column li.row_style_3
	{
	color: #ffffff;
	}

div.p_table div.active_column a.button_1,
div.p_table div.active_column a.button_2,
div.p_table div.active_column a.button_3,
div.p_table div.active_column a.button_4
	{
	background: 0;
	filter: 0; /* IE5.5 - 7 */
	-ms-filter: 0; /* IE8 */
	border: 0;
	color: #ffffff;
	position: relative;
	top: -5px;
	/* shadow */
	box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	}
	
div.p_table div.active_column li.row_style_1 a,
div.p_table div.active_column li.row_style_2 a,
div.p_table div.active_column li.row_style_3 a
	{
	color: #ffffff !important;
	}
	
div.p_table div.active_column [class^="icon-"]::after,
div.p_table div.active_column [class*=" icon-"]::after
	{
	color: #ffffff;
	}	
	/*
CSS3 Responsive Web Pricing Tables Grids
Updated 05.2015 – v7.0
Copyright QuanticaLabs
www.quanticalabs.com
*/
	
/* ==================== FONT FACE ==================== */
@font-face 
	{
	font-family: 'YanoneKaffeesatzRegular';
	src: url('font/YanoneKaffeesatz-Regular-webfont.eot');
	src: local('-'),
	url('font/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
	url('font/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
	url('font/YanoneKaffeesatz-Regular-webfont.svg#webfontlKPF1zIT') format('svg');
	font-weight: normal;
	font-style: normal;
	}

/* ==================== PRICING TABLE ==================== */
/* --- base --- */
div.p_table 
	{
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #303030;
	line-height: normal !important;
	}
	
div.p_table *
	{
	box-sizing: content-box;
	line-height: normal !important;
	}

/* --- main border --- */
div.p_table .frame_border
	{
	background-color: #ffffff;
	padding: 10px !important;
	float: left;
	}
	
/* --- hyperlinks --- */
div.p_table a
	{
	color: #303030;
	text-decoration: none;
	}
	
/* --- lists --- */
div.p_table ul
	{
	margin: 0px;
	padding: 0px !important;
	list-style-type: none !important;
	}
	
div.p_table li
	{
	margin: 0px;
	padding: 0px !important;
	list-style-type: none !important;
	list-style-image: none !important;
	line-height: normal !important;
	}

/* --- div aligns --- */
div.p_table .align_center
	{
	text-align: center;
	}
	
/* --- div rounded corners --- */
/* --- border radius 3px --- */	
div.p_table .radius3
	{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
	
/* --- border radius 5px --- */	
div.p_table .radius5
	{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}	
	
/* --- border radius 5px top left --- */	
div.p_table .radius5_topleft
	{
	border-radius: 5px 0px 0px 0px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	}
	
/* --- border radius 5px top right --- */	
div.p_table .radius5_topright
	{
	border-radius: 0px 5px 0px 0px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	}
	
/* --- border radius 5px bottom right --- */	
div.p_table .radius5_bottomright
	{
	border-radius: 0px 0px 5px 0px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	}
	
/* --- border radius 5px bottom left --- */	
div.p_table .radius5_bottomleft
	{
	border-radius: 0px 0px 0px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	}
	
/* ==================== HEADINGS ==================== */
/* ------ common styles ------  */
div.p_table h1,
div.p_table h2,
div.p_table h3
	{
	margin: 0px;
	padding: 0px !important;
	font-weight: normal !important;
	border: 0 !important;
	color: #ffffff;
	}
	
div.p_table h1
	{
	font-family: 'YanoneKaffeesatzRegular', arial, sans-serif;
	font-size: 48px;
	}

div.p_table h2
	{
	font-family: 'YanoneKaffeesatzRegular', arial, sans-serif;
	font-size: 28px;
	}
	
div.p_table h3
	{
	margin-top: 3px;
	font-size: 13px;
	}

/* ==================== COLUMNS ==================== */
/* ------ common styles ------  */
div.p_table div.caption_column li.header_row_1 ,
div.p_table div.caption_column li.header_row_2
	{
	background-color: #ffffff;
	}

/* --- header row 1 ---  */
div.p_table div.caption_column li.header_row_1 ,
div.p_table div.column_1 li.header_row_1,
div.p_table div.column_2 li.header_row_1,
div.p_table div.column_3 li.header_row_1,
div.p_table div.column_4 li.header_row_1
	{
	height: 39px;
	width: 100%;
	padding: 1px 0px 0px 0px !important;
	}
	
/* ------ decor light line ------  */
div.p_table div.caption_column li.decor_line,
div.p_table div.column_1 li.decor_line,
div.p_table div.column_2 li.decor_line,
div.p_table div.column_3 li.decor_line,
div.p_table div.column_4 li.decor_line
	{
	height: 1px;
	width: 100%;
	float: left;
	}
	
/* --- header row 2 ---  */
div.p_table div.caption_column li.header_row_2,
div.p_table div.column_1 li.header_row_2,
div.p_table div.column_2 li.header_row_2,
div.p_table div.column_3 li.header_row_2,
div.p_table div.column_4 li.header_row_2
	{
	height: 88px;
	width: 100%;
	padding: 5px 0px 7px 0px !important;
	}
	
/* --- caption correction --- */
div.p_table div.caption_column li.header_row_2
	{	
	height: 73px;
	width: 100%;
	padding: 20px 0px 8px 5px !important;
	line-height: 1 !important;
	/* IE box model hack */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* IE8 */
	}	
	 
/* ==================== CAPTION COLUMN ==================== */
div.p_table div.caption_column
	{
	width: 170px;
	height: 100%;
	float: left;
	}

/* =================== COLUMN STYLE 1 ==================== */
div.p_table div.column_1
	{
	width: 265px;
	height: 100%;
	float: left;
	position: relative;
	}
	
/* ==================== COLUMN STYLE 2 ==================== */
div.p_table div.column_2
	{
	width: 170px;
	height: 100%;
	float: left;
	position: relative;
	}	
	
/* ==================== COLUMN STYLE 3 ==================== */
div.p_table div.column_3
	{
	width: 170px;
	height: 100%;
	float: left;
	position: relative;
	}
	
/* ==================== COLUMN STYLE 4 ==================== */
div.p_table div.column_4
	{
	width: 170px;
	height: 100%;
	float: left;
	position: relative;
	}
	
/* ==================== COLUMN HOVERS ==================== */
/* ------ common styles ------  */
div.p_table div.column_1:hover li.header_row_2,
div.p_table div.column_2:hover li.header_row_2,
div.p_table div.column_3:hover li.header_row_2,
div.p_table div.column_4:hover li.header_row_2
	{
	/* removed border radiuses */
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	}
	
div.p_table div.column_1:hover li.footer_row,
div.p_table div.column_2:hover li.footer_row,
div.p_table div.column_3:hover li.footer_row,
div.p_table div.column_4:hover li.footer_row
	{
	/* added border radiuses */
	border-radius: 0px 0px 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	}
	
div.p_table div.column_1:hover li.row_style_1,
div.p_table div.column_2:hover li.row_style_1,
div.p_table div.column_3:hover li.row_style_1,
div.p_table div.column_4:hover li.row_style_1,
div.p_table div.column_1:hover li.row_style_2,
div.p_table div.column_2:hover li.row_style_3,
div.p_table div.column_3:hover li.row_style_2,
div.p_table div.column_4:hover li.row_style_3
	{
	color: #ffffff;
	}
	
div.p_table div.column_1:hover li.row_style_1 a,
div.p_table div.column_2:hover li.row_style_1 a,
div.p_table div.column_3:hover li.row_style_1 a,
div.p_table div.column_4:hover li.row_style_1 a,
div.p_table div.column_1:hover li.row_style_2 a,
div.p_table div.column_2:hover li.row_style_3 a,
div.p_table div.column_3:hover li.row_style_2 a,
div.p_table div.column_4:hover li.row_style_3 a
	{
	color: #ffffff;
	}
	
/*==================== DATA ROWS ====================*/
/* ------ common styles ------  */
div.p_table li.row_style_1,
div.p_table li.row_style_2,
div.p_table li.row_style_3
	{
	width: 100%;
	height: 100%;
	min-height: 16px;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	float: left;
	/* transitions */
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;	
	}

div.p_table li.row_style_1 span,
div.p_table li.row_style_2 span,
div.p_table li.row_style_3 span
	{
	padding-left: 10px !important;
	padding-right: 10px !important;
	display: block;
	}
	
/* --- white ---  */
div.p_table li.row_style_1
	{
	background-color: #ffffff;
	}
	
/* --- lighter gray ---  */
div.p_table li.row_style_2
	{
	background-color: #f6f6f6;
	}
	
/* --- darker gray ---  */
div.p_table li.row_style_3
	{
	background-color: #ebebeb;
	}
	
/* --- hidden labels for responsive layout ---  */
div.p_table li.row_style_1 span > span.hidden_caption_span,
div.p_table li.row_style_2 span > span.hidden_caption_span,
div.p_table li.row_style_3 span > span.hidden_caption_span
	{
	display: none;
	}
	
/* ==================== FOOTER ==================== */
/* ------ common styles ------  */
div.p_table li.footer_row
	{
	width: 100%;
	height: 40px;
	padding-top: 14px !important;
	padding-bottom: 6px !important;
	float: left;
	background-color: #ffffff;
	/* transitions */
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
	}
	
/* ==================== BUTTONS ==================== */
/* ------ common styles ------  */
div.p_table a.button_1,
div.p_table a.button_2,
div.p_table a.button_3,
div.p_table a.button_4
	{
	width: 130px;
	height: 37px;
	padding: 3px 0px 0px 0px !important;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
	outline: none;
	/* shadow */
	box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
	/* font */
	font-family: 'YanoneKaffeesatzRegular', arial, sans-serif;
	color: #ffffff;
	font-size: 24px;
	/* poz correction */
	position: relative;
	top: 1px;
	/* transitions */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ hover common styles ------  */	
div.p_table div.column_1:hover a.button_1,
div.p_table div.column_2:hover a.button_2,
div.p_table div.column_3:hover a.button_3,
div.p_table div.column_4:hover a.button_4
	{
	background: 0;
	filter: 0; /* IE5.5 - 7 */
	-ms-filter: 0; /* IE8 */
	border: 0;
	color: #ffffff;
	position: relative;
	top: -5px;
	/* shadow */
	box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
	}
	
/* ==================== COLUMN RIBBONS ==================== */
/* --- base --- */
div.column_ribbon
	{
	position: absolute;
	top: 0;
	left: -4px;
	z-index: 1;
	padding: 1px 0px 1px 4px;
	font-size: 11px;
	font-weight: bold;
	}
	
/* --- bottom triangle --- */	
div.column_ribbon::before
	{
	position: absolute;
	left: 0;
	bottom: -4px;
	content: "";
    border-style: solid;
    border-color: transparent;
    border-width: 0 4px 4px 0;
	}

/* --- right triangles --- */	
div.column_ribbon::after
	{
	position: absolute;
	top: 0;
	right: -11px;
	content: "";
	z-index: -1;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 8px;
	width: 0;
    height: 0;
	}

/* ==================== TOOLTIP ==================== */
/* --- base --- */
div.p_table a.tooltip
	{
	position: relative;
	text-decoration: underline;
	display: inline;
	font-size: 13px;
	opacity: 1;
	padding: 0;
	}
	
div.p_table a.tooltip:hover
	{
	color: #999999;
	text-decoration: none !important;
	}
	
div.p_table a.tooltip:hover::after, div.p_table a.tooltip:hover::before
	{
    display: block;
	}

/* --- tooltip container --- */
div.p_table a.tooltip::before
	{
	content: attr(rel);
	display: block;
	width: 140px;
    position: absolute;
	z-index: 1000;
    bottom: 150%;
    left: -10px;
    padding: 5px 10px 8px 10px;
	text-align: left;
    color: #ffffff;
    display: none;
	/* background */
	background: #404040; /* CSS2 */
	background: -moz-linear-gradient(top, #4e4e4e 0%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4e4e4e 0%,#404040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4e4e4e 0%,#404040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4e4e4e 0%,#404040 100%); /* IE10+ */
	background: linear-gradient(top, #4e4e4e 0%,#404040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#404040',GradientType=0 ); /* IE6-9 */
	/* border-radius */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/* box-shadow */
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	/* text-shadow */
	text-shadow: 0px 1px 0px #292929;
	}
	
/* --- tooltip arrow --- */
div.p_table a.tooltip::after
	{
	content: "";
	display: block;
    width: 0;
    height: 0;
    position: absolute;
	z-index: 1000;
	bottom: 18px;
	left: -2px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
	border-top: 6px solid #404040;
    display: none;
	background: transparent;	
	}
	
/* ==================== ICONS FONT ==================== */
@font-face 
	{
	font-family: 'icons';
	src: url('font/icons.eot?78084899');
	src: url('font/icons.eot?78084899#iefix') format('embedded-opentype'),
	url('font/icons.woff?78084899') format('woff'),
	url('font/icons.ttf?78084899') format('truetype'),
	url('font/icons.svg?78084899#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	}
 
[class^="icon-"]::after,
[class*=" icon-"]::after
	{
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 10px;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	
div.p_table div.column_1:hover [class^="icon-"]::after,
div.p_table div.column_2:hover [class^="icon-"]::after,
div.p_table div.column_3:hover [class^="icon-"]::after,
div.p_table div.column_4:hover [class^="icon-"]::after,
div.p_table div.column_1:hover [class*=" icon-"]::after,
div.p_table div.column_2:hover [class*=" icon-"]::after,
div.p_table div.column_3:hover [class*=" icon-"]::after,
div.p_table div.column_4:hover [class*=" icon-"]::after
	{
	color: #ffffff;
	}
	
.icon-yes-1::after 
	{
	content: '\e80c';
	color: #56a600;
	font-size: 16px;
	}
	
.icon-no-1::after
	{
	content: '\e80d';
	color: #d64747;
	font-size: 16px;
	}
	
.icon-yes-2::after
	{
	content: '\e802';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-2::after
	{
	content: '\e803';
	color: #d64747;
	font-size: 14px;
	}
	
.icon-yes-3::after
	{
	content: '\e804';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-3::after
	{
	content: '\e805';
	color: #d64747;
	font-size: 14px;
	}
	
.icon-yes-4::after
	{
	content: '\e806';
	color: #56a600;
	font-size: 16px;
	}
	
.icon-no-4::after
	{
	content: '\e807';
	color: #d64747;
	font-size: 16px;
	}
	
.icon-yes-5::after
	{
	content: '\e808';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-5::after
	{
	content: '\e809';
	color: #d64747;
	font-size: 14px;
	}
	
.icon-yes-6::after
	{
	content: '\e80a';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-6::after
	{
	content: '\e80b';
	color: #d64747;
	font-size: 14px;
	}
	
.icon-yes-7::after
	{
	content: '\e812';
	color: #56a600;
	font-size: 13px;
	}
	
.icon-no-7::after
	{
	content: '\e813';
	color: #aaaaaa;
	font-size: 13px;
	}
	
.icon-yes-8::after
	{
	content: '\e80e';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-8::after
	{
	content: '\e80f';
	color: #aaaaaa;
	font-size: 14px;
	}
	
.icon-yes-9::after
	{
	content: '\e810';
	color: #56a600;
	font-size: 14px;
	}
	
.icon-no-9::after
	{
	content: '\e811';
	color: #aaaaaa;
	font-size: 14px;
	}
	
.icon-yes-10::after
	{
	content: '\e800';
	color: #ffa800;
	font-size: 15px;
	}
	
.icon-no-10::after
	{
	content: '\e801';
	color: #aaaaaa;
	font-size: 15px;
	}
	
	div#all_column {
    overflow-x: scroll !important;
    overflow-wrap: inherit;
    width: 56%;
    display: flex;
    float: left;
}
div#all_column h2 {
	height: 28px;
    margin-top: 5px !important;
    overflow: hidden;
    font-size: 23px;
}
div#all_column h1 {
    font-size: 40px;
    margin-top: 10px;
}
div#all_column h3 {
    font-size: 13px;
    margin-top: 10px;
}
	
	/*
CSS3 Responsive Web Pricing Tables Grids
Updated 05.2015 – v7.0
Copyright QuanticaLabs
www.quanticalabs.com
*/

/* ==================== RESPONSIVE LAYOUT  ==================== */
/* ------ mobile devices smaller than 1024px ------ */
@media screen and (max-width:1009px)
	{
	/* --- global --- */
	div.p_table,
	div.p_table a.tooltip
		{
		width: 100%;
		font-size: 12px;
		}
		
	/* --- headings --- */
	div.p_table h1
		{
		font-size: 48px;
		}

	div.p_table h2
		{
		font-size: 24px;
		}
		
	div.p_table h3
		{
		margin-top: 3px;
		font-size: 12px;
		}

	/* --- header row 1 ---  */
	div.p_table div.caption_column li.header_row_1 ,
	div.p_table div.column_1 li.header_row_1,
	div.p_table div.column_2 li.header_row_1,
	div.p_table div.column_3 li.header_row_1,
	div.p_table div.column_4 li.header_row_1
		{
		height: 34px;
		padding: 2px 0px 0px 0px !important;
		}
		
	/* --- header row 2 ---  */
	div.p_table div.caption_column li.header_row_2,
	div.p_table div.column_1 li.header_row_2,
	div.p_table div.column_2 li.header_row_2,
	div.p_table div.column_3 li.header_row_2,
	div.p_table div.column_4 li.header_row_2
		{
		height: 88px;
		padding: 5px 0px 7px 0px !important;
		}
		
	/* --- caption correction --- */
	div.p_table div.caption_column li.header_row_2
		{	
		height: 75px;
		padding: 21px 0px 5px 5px !important;
		}	
		 
	/* --- caption column --- */
	div.p_table div.caption_column
		{
		width: 20%;
		}

	/* --- column style 1 --- */
	div.p_table div.column_1
		{
		width: 20%;
		}
		
	/* --- column style 2 --- */
	div.p_table div.column_2
		{
		width: 20%;
		}	
		
	/* --- column style 3 --- */
	div.p_table div.column_3
		{
		width: 20%;
		}
		
	/* --- column style 4 --- */
	div.p_table div.column_4
		{
		width: 20%;
		}
		
	/* --- data rows --- */
	div.p_table li.row_style_1,
	div.p_table li.row_style_2,
	div.p_table li.row_style_3
		{
		min-height: 15px;
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		}

	div.p_table li.row_style_1 span,
	div.p_table li.row_style_2 span,
	div.p_table li.row_style_3 span
		{
		padding-left: 5px !important;
		padding-right: 5px !important;
		}
		
	/* --- footer button --- */
	div.p_table a.button_1,
	div.p_table a.button_2,
	div.p_table a.button_3,
	div.p_table a.button_4
		{
		width: 80%;
		height: 34px;
		padding: 6px 0px 0px 0px !important;
		font-size: 20px;
		}
	}

/* ------ mobile devices 480 - 768px ------ */
@media screen and (max-width:767px)
	{		
	/* --- hidden labels for responsive layout ---  */
	div.p_table li.row_style_1 span > span.hidden_caption_span,
	div.p_table li.row_style_2 span > span.hidden_caption_span,
	div.p_table li.row_style_3 span > span.hidden_caption_span
		{
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		}
		
	/* --- icons font --- */	
	[class^="icon-"]::after,
	[class*=" icon-"]::after
		{
		font-size: 14px !important;
		}
		
	.icon-yes-7::after,
	.icon-no-7::after
		{
		font-size: 13px !important;
		}
		
	.icon-yes-10::after,
	.icon-no-10::after
		{
		font-size: 15px !important;
		}
		
	/* --- headings --- */
	div.p_table h1
		{
		font-size: 40px;
		}

	div.p_table h2
		{
		font-size: 20px;
		}

	/* --- header row 1 ---  */
	div.p_table div.caption_column li.header_row_1 ,
	div.p_table div.column_1 li.header_row_1,
	div.p_table div.column_2 li.header_row_1,
	div.p_table div.column_3 li.header_row_1,
	div.p_table div.column_4 li.header_row_1
		{
		height: 29px;
		padding: 3px 0px 0px 0px !important;
		}
		
	/* --- header row 2 ---  */
	div.p_table div.caption_column li.header_row_2,
	div.p_table div.column_1 li.header_row_2,
	div.p_table div.column_2 li.header_row_2,
	div.p_table div.column_3 li.header_row_2,
	div.p_table div.column_4 li.header_row_2
		{
		height: 75px;
		padding: 4px 0px 6px 0px !important;
		}
		
	/* --- caption correction --- */
	div.p_table div.caption_column li.header_row_2
		{	
		height: 64px;
		padding: 17px 0px 5px 0px !important;
		}
		 
	/* --- caption column --- */
	div.p_table div.caption_column
		{
		display: none;
		}

	/* --- column style 1 --- */
	div.p_table div.column_1
		{
		width: 25%;
		}
		
	/* --- column style 2 --- */
	div.p_table div.column_2
		{
		width: 25%;
		}
		
	/* --- column style 3 --- */
	div.p_table div.column_3
		{
		width: 25%;
		}
		
	/* --- column style 4 --- */
	div.p_table div.column_4
		{
		width: 25%;
		}
		
	/* --- footer button --- */
	div.p_table a.button_1,
	div.p_table a.button_2,
	div.p_table a.button_3,
	div.p_table a.button_4
		{
		height: 30px;
		padding: 4px 0px 0px 0px !important;
		font-size: 18px;
		}
	}

/* ------ mobile devices up to 480px ------ */
@media screen and (max-width:479px)
	{
	/* --- global --- */
	div.p_table,
	div.p_table a.tooltip
		{
		font-size: 11px;
		}
		
	/* --- hidden labels for responsive layout ---  */
	div.p_table li.row_style_1 span > span.hidden_caption_span,
	div.p_table li.row_style_2 span > span.hidden_caption_span,
	div.p_table li.row_style_3 span > span.hidden_caption_span
		{
		margin-bottom: 3px;
		}
		
	/* --- headings --- */
	div.p_table h1
		{
		font-size: 32px;
		}

	div.p_table h2
		{
		font-size: 18px;
		}
		
	div.p_table h3
		{
		font-size: 11px;
		}

	/* --- header row 1 ---  */
	div.p_table div.caption_column li.header_row_1 ,
	div.p_table div.column_1 li.header_row_1,
	div.p_table div.column_2 li.header_row_1,
	div.p_table div.column_3 li.header_row_1,
	div.p_table div.column_4 li.header_row_1
		{
		height: 27px;
		}
		
	/* --- header row 2 ---  */
	div.p_table div.caption_column li.header_row_2,
	div.p_table div.column_1 li.header_row_2,
	div.p_table div.column_2 li.header_row_2,
	div.p_table div.column_3 li.header_row_2,
	div.p_table div.column_4 li.header_row_2
		{
		height: 65px;
		padding: 4px 0px 6px 0px !important;
		}
		
	/* --- caption correction --- */
	div.p_table div.caption_column li.header_row_2
		{	
		height: 56px;
		padding: 15px 0px 5px 0px !important;
		}
		
	/* --- data rows --- */
	div.p_table li.row_style_1,
	div.p_table li.row_style_2,
	div.p_table li.row_style_3
		{
		min-height: 14px;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		}

	div.p_table li.row_style_1 span,
	div.p_table li.row_style_2 span,
	div.p_table li.row_style_3 span
		{
		padding-left: 2px !important;
		padding-right: 2px !important;
		}
	}
	
	