/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
Version 0.11.0
*/




.yui-cal2upwrapper {*height:1%;} /* IE */
.yui-cal2upwrapper:after {content:'.';clear:both;display:block;visibility:hidden;height:0;} /* others */
.yui-calcontainer {	background-color: transparent;	float:left;	padding:0 0 0 0; border:0px solid #74cbc6;font:13px arial,helvetica,clean,helvetica neue,sans-serif;}
.yui-calcontainer td {margin:0;padding:0;}
.yui-calcontainer th {margin:0;padding:0;}	
.yui-calcontainer div{	color:#1c1c1c;}

.yui-calcontainer .title {
	font:100% sans-serif, arial; color:#000; font-weight:normal; margin-bottom:5px; height:auto; width:304px; position:relative;
}
	
.yui-calcontainer .title .close-icon {
	position:absolute; right:0; top:0; border:none;
}

.yui-calcontainer .cal2up {
	float:left;
}

.yui-calendar .calnavleft {
	position:absolute; background-repeat:no-repeat; cursor:pointer; top:2px; bottom:0; width:9px; height:12px; left:2px;
}

.yui-calendar .calnavright {
	position:absolute; background-repeat:no-repeat; cursor:pointer; top:2px; bottom:0; width:9px; height:12px; right:2px; }

/* Calendar element styles */

.yui-calendar {
	font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small; font:100% sans-serif; text-align:center; border-spacing:0; border-collapse:separate; }

.yui-calendar td.calcell {
	width:200px; height:2em; border:1px solid #ffffff; background-color: #74cbc6;
}

.yui-calendar td.calcell a {
	color: #ffffff; text-decoration:none; vertical-align: middle; }

.yui-calendar td.calcell.today {
	border:1px solid #ffffff;
}

.yui-calendar td.calcell.oom {
	cursor:default; color: #74cbc6; background-color: #fff; border:1px solid #ffffff; }

.yui-calendar td.calcell.selected {
	color: #ffffff; background-color:#579a96; border:0px solid #579a96; }
	
.yui-calendar td.calcell.deletecell {
	color:#003DB8; background-color:#FFF19F; border:1px solid #579a96; }	

.yui-calendar td.calcell.calcellhover {
	cursor:pointer; color: #579a96; background-color:transparent;border:0px solid #579a96;}

/* Added to perform some correction for Opera 8.5
   hover redraw bug */
table.yui-calendar:hover {
	background-color:#74cbc6; color: #579a96;
}

.yui-calendar td.calcell.calcellhover a {
	color:#579a96;
}

.yui-calendar td.calcell.restricted {
	
	background-color:#74cbc6;
	color:#cccccc;
}

.yui-calendar td.calcell.reserved {
    background-color:#74cbc6;
}

td.renderedDate {color: #73ac4b; font-weight:bold;}

td.reserved {font-weight:bold;color:#FF0000;}
		
.yui-calendar td.calcell.previous {
	background-color: #ffffff;
	color:#579a96;
}

.yui-calendar td.calcell.highlight1 { background-color:#CCFF99; }
.yui-calendar td.calcell.highlight2 { background-color:#99CCFF; }
.yui-calendar td.calcell.highlight3 { background-color:#FFCCCC; }
.yui-calendar td.calcell.highlight4 { background-color:#CCFF99; }


.yui-calendar .calhead {
	border:1px solid #ffffff; vertical-align:middle; background-color:#FFF; height: 50px; font-size: x-large; }

.yui-calendar .calheader {
	position:relative; width: 100%; text-align:center; }

.yui-calendar .calheader img {
	border:1px solid #ffffff;
}

.yui-calendar .calweekdaycell {
	color:#ffffff; font-weight:normal; text-align: center; background-color: #CFCFCF; border:1px solid #ffffff;
}

.yui-calendar .calfoot {
	background-color:#EEE;
}

.yui-calendar .calrowhead, .yui-calendar .calrowfoot {
	color:#666; font-size:9px; font-style:italic; font-weight:normal;width:15px;
}

.yui-calendar .calrowhead {
	border-right-width:1px;
}

/*Specific changes for calendar running under fonts/reset */
.yui-calendar a:hover {background:inherit;}
p#clear {clear:left; padding-top:10px;}
.yui-calendar td.calcellADD {
	border:1px solid #00cc00; background-color:#00cc00;
	cursor:pointer; 
}
.yui-calendar td.calcellEDIT {
	border:1px solid #cccc00; background-color:#cccc00;
	cursor:pointer;
}


.yui-calendar td.calcellADDH {
	border:1px solid #00ff00; background-color:#00ff00;
	cursor:pointer;
}
.yui-calendar td.calcellEDITH {
	border:1px solid #ffff00; background-color:#ffff00;
	cursor:pointer;
	
}


.yui-calendar td.calcellADDSeleted {
	border:1px solid #00ff00; background-color:#00ff00;
	
}
.yui-calendar td.calcellEDITSeleted {
	border:1px solid #ffff00; background-color:#ffff00;
}


.yui-calendar td.calcellLABEL {
	background-color:#f9f9f9;padding:1px; 
	
}
.yui-calcontainerADD {
	 border:1px solid #cccccc;
}
.yui-calcontainerEDIT{
	 border:3px solid #ffff00;
}
.sennaled
{
    background-color:#ff0000;color:#ffffff; 
}
.smallf
{
font-size:11px;
font-style:italic;
}
.yui-calendar td.calcell.reserved_left {
    background-image:url(left.gif);background-position:left bottom;    
}
.yui-calendar td.calcell.reserved_right {
    background-image:url(right.gif);;background-position:left bottom;    
}
.yui-calendar td.calcell.reserved_middle {
    background-image:url(middle.gif);background-position:left bottom;    
}
.yui-calendar td.calcell.pending {
    background-color:#579a96;
}
.yui-calendar td.calcell.pending_left {
    background-image:url(left_pending.gif);background-position:left bottom;    
}
.yui-calendar td.calcell.pending_right {
    background-image:url(right_pending.gif);;background-position:left bottom;    
}
.yui-calendar td.calcell.pending_middle_left {
    background-image:url(middle_left_pending.gif);background-position:left bottom;    
}
.yui-calendar td.calcell.pending_middle_right {
    background-image:url(middle_right_pending.gif);background-position:left bottom;    
}
.add-sennaled{
    background-color:#ff0000;color:#ffffff; 
}
table.yui-calcontainerADD,table.yui-calcontainerADD table
{
margin: 0;
}
