.clearer{clear:both;}

#fbuilder{}
#fbuilder .fields,#fbuilder .fform{padding:5px 0px;}
#fbuilder .fform h1{margin:5px 0px;padding:0px;}

.small{width:25%}
.medium{width:50%}
.large{width:100%}
            
.one_column{}
.two_column{float:left;width:48%}
.three_column{float:left;width:30%}
.side_by_side{float:left;}
.dfield{background-color: #fff; position:relative;padding-left:10px; padding: 0 0 0 0; border: 0px solid #CFCFCF; border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; }
.dfield_2{background-color: #fff; position:relative;padding-left:10px; padding: 0 0 0 0; border: 1px solid #CFCFCF; border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; }
.top_aligned .fields label{}
.top_aligned .fields .dfield{}
.left_aligned .fields label{float:left;width:31%}
.left_aligned .fields .dfield{float:left;width:65%;}
.right_aligned .fields label{float:left;width:31%;text-align:right;padding:3px 3px 0px 0px}
.right_aligned .fields .dfield{float:left;width:65%}

.cpefb_error{border1:1px solid #ff0000;}
.top_aligned .fields label.cpefb_error,.left_aligned .fields label.cpefb_error,.right_aligned .fields label.cpefb_error{display: block;border:0px;color:#ff0000;float:none;}

div.message{
    
}

div.cpefb_error{
    background:  #ffffff;
    color: #ff0000;
    border:1px solid #ff0000;
    opacity: 0.9;
    margin-top:7px;
    position:relative;
    padding:0px 5px;
    z-index:1000;
}
div.cpefb_error:after
{
content:""; 
position:absolute;
background:transparent url("../images/tooltop.png") no-repeat scroll 10px center;
color:red;
font-weight:bold;
height:8px;
width:100%;
top:-8px;
left:0px;
z-index:1000;
}

.ui-datepicker{ z-index: 9999 !important;}
#fbuilder span.uh{display:block;font-size:80%;clear:both;border:0px solid #cfcfcf}
#fbuilder .section_break{border-top:1px dotted #555;}

#fbuilder .uh_phone{float:left;margin:0px 5px;font-size:80%;text-align:center;position: relative;}
#fbuilder .uh_phone input{text-align:center;font-size:100%;}
#fbuilder .uh_phone div.cpefb_error{white-space:nowrap;}
.cpp_form { text-align:left}

.login{font-family: arial; font-size: 16px;}


.fieldbox {
          background:#fff;
 		  font-family: Open Sans;
          padding: 5px;
          width: 100%;
          font-size: 20px;       
          border: 1px solid #cfcfcf;
          height: 50px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
 }
 
.fieldbox_upload {
          background:#ffffff;
          font-family: Open Sans;
          padding: 5px;
          width: 98%;
          font-size: 16px;       
          border: 1px dashed #777777;
          height: 50px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
 }
 
 #bccf_display_price {
 		  font-size: 32px;
 		  font-family: helvetica neue;
 		  font-weight: bold;
 }
 
#dfield_3{background-color: #fff; position:relative;padding-left:10px; padding: 0 0 0 0; border: 1px solid #CFCFCF; border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; }

