body{font:11px "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;}
.clearer{clear:both;}
.column{float:left;}
.columnr{float:right;}
.width50{width:48%}
.width20{width:24%}
.width40{width:40%}
.width30{width:30%}
.padding10{padding:10px;}
.button, .form-builder .button{float:left;margin:5px 15px;}
#tabs{height:500px;overflow:auto}
#fbuilder{height:484px;overflow:auto;position:relative;}
#fbuilder .fields{border:1px solid transparent;padding:3px 10px 14px 10px;margin:5px 0px;display:block;position:relative}
#fbuilder .fields .arrow{position:absolute;left:-15px;top:20px;display:none}
#fbuilder .fields .remove{position:absolute;bottom:0;right:0;display:none;background-color:#fff;cursor:pointer}
.choicesSet{border:1px dashed #888;margin:10px 0px;padding:5px}
.choicesEdit input[type=text]{width:250px;}
.choicesEdit{position:relative;}
.choicesEdit .choice_add{position:absolute;top:5px;left:280px;cursor:pointer;}
.choicesEdit .choice_remove{position:absolute;top:5px;left:300px;cursor:pointer;}
input [disabled] {background-color: #f00;}
input [readonly] {background-color: #f00;}
#fbuilder .fields.ui-selected{background-color:#DFEFFF;border:1px solid #C2D7EF}
#fbuilder .fields.ui-selected .arrow,#fbuilder .fields.ui-selected .remove{display:inline}
#fbuilder .fields.ui-over{border:1px dashed #888;}

#fbuilder .fform{border:1px solid transparent;padding:10px 10px 20px 10px;margin:5px 0px;display:block;position:relative}
#fbuilder .fform .arrow{position:absolute;left:-15px;top:20px;display:none}
#fbuilder .fform.ui-selected{background-color:#E7FFCF;border:1px solid #C2EF95}
#fbuilder .fform.ui-selected .arrow{display:inline}
#fbuilder .fform.ui-over{border:1px dashed #888;}
#fbuilder .fform h1{margin:5px 0px;padding:0px;}
input.disabled {background: #fff;color: #888;cursor: default;}
label1{display:inline}
.small{width:25%}
.medium{width:50%}
.large{width:100%}
textarea {resize: none;}            
.one_column{}
.two_column{float:left;width:48%}
.three_column{float:left;width:30%}
.side_by_side{float:left;}
.top_aligned .fields label{}
.top_aligned .fields .dfield{}
.left_aligned .fields label{float:left;width:31%}
.left_aligned .fields .dfield{float:left;width:65%;}
.right_aligned .fields label{float:left;width:31%;text-align:right;padding:3px 3px 0px 0px}
.right_aligned .fields .dfield{float:left;width:65%} 
#fbuilder span.uh{display:block;font-size:80%;clear:both}
#fbuilder .section_break{border-top:1px dotted #555;}

#fbuilder .uh_phone{float:left;margin:0px 5px;font-size:80%;text-align:center;position: relative;}
#fbuilder .uh_phone input{text-align:center;font-size:100%;}
#fbuilder .uh_phone div.cpefb_error{display:block;white-space:nowrap;width:400px}

.box17 {
          background:#fff;
          font-family: Arial, Sans-Serif;
          font-size: 24px;
          color: #cfcfcf          
          border: 5px solid #000000;
          height: 50px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
 }

.login{font-family: arial; font-size: 16px;}