.cld-like-dislike-wrap {    display: inline;    position: relative;    top: 60px;    z-index: 99999;}.comment-author.vcard img {    text-align: center !important;    display: inline-block !important;	float:none !important;}.comment-list .comment-meta {    text-align: center!important;    width: 14.647059% !important;    float: left !important;    margin: 0px 0px 0px 40px !important;}
.cld-common-wrap {
    display: inline-block;
    min-width: 50px;
}
.cld-common-wrap > a.cld-like-dislike-trigger {
    text-decoration: none;
    box-shadow: 0 0 0 !important;
    border-bottom: 0;
}
.cld-count-wrap {
    margin-left: 5px;
}
.cld-share-wrap {
    display: inline-block;
    margin-left: 50px;
}
.cld-share-wrap a {
    box-shadow: 0 0 0 !important;
    margin: 0 10px;
    border:1px solid #fff;
}
a.cld-facebook {
    background: #3b5998 !important;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
}
a.cld-twitter {
    background: #55acee !important;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    padding: 5px 7px;
}
a.cld-facebook:hover {
    background: #fff !important;
    color: #3b5998 !important;
    border: 1px solid;
}
a.cld-twitter:hover {
    background: #fff !important;
    color: #55acee !important;
    border: 1px solid;
}
.cld-like-dislike-wrap br{display:none;}
.cld-like-dislike-wrap p{display:none;}
.cld-like-dislike-wrap.cld-template-3 {
    margin-bottom: 20px;
}
.cld-like-dislike-wrap .cld-common-wrap {
    margin-right: 10px;
}
.cld-like-dislike-wrap.cld-custom img {
    max-width: 30px;
    display: inline-block;
    vertical-align: top;
}